.table-wrapper {
  padding: 10px;
  overflow-x: auto;
  margin-top: 10px;
  border-radius: 10px;
  background: #fff;
}

.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

.table-wrapper th {
  border: 1px solid #ccc;
  padding: 8px;
  background: #0d6efd;
  color: #fff;
  text-align: left;
  border-radius: 8px;
}

.table-wrapper td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
.dark .table-wrapper {
  background: #333;
}
.dark .table-wrapper th {
  background: #0d6efd;
  color: #fff;
}
.dark .table-wrapper td {
  background: #444;
  color: #f5f5f5;
}

